@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: white;

}

body {
  background-color: #161B21;
}

.container {
  text-align: center;
  max-width: 800px;
  width: 95%;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 8px;
  background-color: #0D1017;
  padding-bottom: 100px;
}

.clock {
  margin: 0 auto;
  font-size: 3.6em;
  padding-bottom: 50px;
}

img {
  margin-top: 30px;
  width: 85px;
}

.click {
  display: inline;
  width: 100%;
  max-width: 230px;
  height: 80px;
  margin: 10px;
  border-radius: 7px;
  font-size: 29px;
  padding: auto;
}

.started {
  filter: saturate(0);
  opacity: .3;
}

.iniciar {
  background-color: #2A5B38;
}

.pausar {
  background-color: #FECC01;
}

.zerar {
  background-color: #ED3F49;
}

.paused {
  animation: pause .7s infinite ease-in-out;
}

@keyframes pause {
  from {
    color: red;
  }

  to {
    color: black
  }
}

.me {
  position: absolute;
  bottom: 10px;
  outline: black;
}

.me:hover {
  outline: black;
}
